<style media="screen">
  #logo {margin-top: 15px;}

  @media only screen and (max-width: 800px) {
  #small-hide1, tr td:nth-child(2) { display:none; visibility:hidden; }
  }

  @media only screen and (max-width: 600px) {
	#small-hide1, tr td:nth-child(2) { display:none; visibility:hidden; }
  #small-hide2, tr td:nth-child(3) { display:none; visibility:hidden; }
  }
</style>

<table class="table table-hover">
    <tr>
        <td class="col-sm-4">
            <a href={{ restaurant['url'] }}>
                {{ restaurant['name']}}
            </a><br>
                {{ restaurant['location']['city'] }}<br>
                {% if restaurant['location']['address1'] %}
                <p>{{ restaurant['location']['address1'] }}, {{ restaurant['location']['postal_code'] }}</p>
                {% else %}
                <p>{{ restaurant['location']['postal_code'] }}</p>
                {% endif %}
        </td>
        <td id="small-hide1" class="col-sm-3">
            <p>Rating: {{ restaurant['rating'] }}</p>
            <p>Bassed on {{ restaurant['review_count'] }} rating</p>
        </td>
        <td id="small-hide2" class="col-sm-2">
          <a href={{ restaurant['url'] }}>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Yelp_Logo.svg/1200px-Yelp_Logo.svg.png"
              class="pull-right" id="logo" width="80" alt="Yelp logo" />
          </a>
        </td>
        <td class="col-sm-3"><br>
          <button type="button" id="{{ restaurant['alias'] }}" class="btn btn-primary pull-right">Recommend</button>
        </td>
    </tr>
</table>
<div class="removable" id="{{ restaurant['alias'] }}">
  <input type="text" id='{{ restaurant['alias'] }}' class="form-control" aria-label="Default"
    aria-describedby="inputGroup-sizing-default" placeholder="Input less than 100 characters">
  <button type="button" name='submit-it' id='{{ restaurant['alias'] }}' class="btn btn-light col-md-1"
    style="margin: 5px">Submit</button>
  <button type="button" name='cancel-it' id='{{ restaurant['alias'] }}' class="btn btn-light col-md-1"
    style="margin: 5px">Cancel</button>
</div>

<script type="text/javascript">
  document.querySelector('[id="{{ restaurant['alias'] }}"][class="removable"]').style.display = 'none';
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelector('[id="{{ restaurant['alias'] }}"][class="btn btn-primary pull-right"]').onclick = function () {
      var div_toggle = document.querySelector('[id="{{ restaurant['alias'] }}"][class="removable"]');
      div_toggle.style.display = 'block';
      var buttons_toggle = document.querySelectorAll('.btn-primary');
      buttons_toggle.forEach(function(button) {
        button.disabled = true;
      });
      document.querySelector('[id="{{ restaurant['alias'] }}"][name="cancel-it"]').onclick = function () {
        buttons_toggle.forEach(function(button) {
          button.disabled = false;
        });
        div_toggle.style.display = 'none';
      }
      document.querySelector('[id="{{ restaurant['alias'] }}"][name="submit-it"]').onclick = function () {
        const post = document.querySelector('[id="{{ restaurant['alias'] }}"][type="text"]');
        if (post.value == '') {
          alert('You cannot post empty form.');
        }
        else if (post.value.length > 100) {
           alert('Input should be less than 100 characters.');
        }
        else {
          //const send_to_flask ='{{ restaurant.alias }}';
          var rest_info = {{restaurant|tojson}};
          const post_text = post.value;
          // Now rest_info is an object, need ot change back end to accept this object
          // Also uncomment ajax request below
          const request = new XMLHttpRequest();
          request.open('POST', '/addpost');
          request.onload = () => {
            const resp = JSON.parse(request.responseText);
            alert(resp.message);
          }
          const data = new FormData();
          data.append('post_text', post_text);
          data.append('name', rest_info.name);
          data.append('alias', rest_info.alias);
          data.append('url', rest_info.url);
          data.append('categories', JSON.stringify(rest_info.categories));
          data.append('city', rest_info.location.city);
          data.append('address', rest_info.location.address1);
          data.append('postal_code', rest_info.location.postal_code);
          data.append('country', rest_info.location.country);
          request.send(data);
          buttons_toggle.forEach(function(button) {
            button.disabled = false;
          });
          div_toggle.style.display = 'none';
          post.value = "";
          return false;
        }
      }
    }
  });
</script>
