{% extends "bootstrap/base.html" %}

{% block scripts %}
    {{ super() }}
    <!-- insert reference to any additional paclakes like moments -->
{% endblock %}

{% block title %}
  {% if title %} {{ title }} - InflaBeeDee {% else %} Welcome to InflaBeeDee  {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index') }}">InflaBeeDee</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('post_search') }}">Find Meals</a></li>
                <li><a href="{{ url_for('rest_search') }}">Add Meals</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h3>Hello {{ current_user.username }}</h3>
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
