{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  {% if current_user.is_authenticated %}
    <h2>Hello {{ current_user.username }}</h2>
  {% else %}
    <h2>IBeeDee</h2>
  {% endif %}
  <br>
  <p>Search for eating out options others recommendeded.</p>
  <br>
  <div id="frm" class="row">
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
    </div>
  </div>
  <p style="color:gray; padding-top: 5px">by <a href="https://yelp.com" target="_blank">
    <img src="{{url_for('static', filename='Yelp_Logo.png')}}" width="80px" alt="Yelp logo"></a></p>
  <br>
  <div class="container">
    {% for rest in rests %}
      {% include '__post.html' %}
    {% endfor %}
  </div>
  {% if cities %}
    <div>
      <p class="grayed-out">We have recommendations for:</p>
      <ul>
        {% for cty in cities %}
          <li class="grayed-out">{{ cty }}</p>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock %}
